@property --status-color {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(115, 126, 141);
}

@property --xRotate {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --yRotate {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --scale {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}

:root {
    color-scheme: dark;
    --status-color: rgb(115, 126, 141);
    --background-color: rgb(15 23 42);
}